header {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(32, 70, 2);
    height: 4.9rem;
}

.burger-menu {
    margin-right: 1rem;
}
.burger1, .burger2, .burger3  {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}
.change.burger1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
.change.burger2 {
    opacity: 0;
}
.change.burger3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

h1, header strong {
    color: white;
    font-weight: bolder;
}
.nav-bar {
    position: absolute;
    z-index: -1;
    top : 0;
    left : 0;
    right: 0;
    opacity: 0;
    background-color: whitesmoke;
    box-shadow: 2px 3px 8px grey;
    transition : opacity 1s;
}
.nav-bar-open {
    z-index: 1;
    top: 4.9rem;
    opacity: 1 ;
    transition: opacity 0.5s;
}
.zindex {
    z-index: 1;
}
.nav-bar-link {
    display: block;
    text-align: center;
    padding : 0.25rem 0;
    border-bottom: 1px solid rgb(218, 193, 193);
    color: grey;
    margin-right: 0.5rem;
}
.nav-bar-list li:hover {
    cursor: pointer;
    background-color: rgba(4, 84, 43, 0.849);
    color: white;
}
.nav-bar-link:hover {
    color: white;
}
li {
    list-style: none;
}



